body
{
    display: flex;
    justify-content: center;
    background-color: #00657C;
}

.main
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

h1
{
    font-weight: bolder;
    color: fuchsia;
}